ul {
    list-style-type: none;
    /*목록에 붙은 점 모양 제거*/
    margin: 0;
    padding: 0;
    background-color: #333;
    
    }
    ul:after{
        content:'';
        display: block;
        clear:both;
    }
    li {
        display : inline;

        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover:not(.active) {
        background-color: #111;
    }
    .active {
        background-color: #4CAF50;
        }
        body{
                background-color: #a1b2ff;
                color: rgb(0, 0, 0);
                margin: 0;
                padding: 0;
                font-size: 1.2em;
                font-family: 'Hack';
            }
            header{
                color:  white;
                background-color: black;
                padding: 20px;
            }
            section {
                background-color:rosybrown;
                padding: 20px;
                color: black;
                display: flex;
                flex-direction: row-reverse;
            }
            footer{
                background-color: black;
                padding: 20px;
            }
 
            section > div {
                background-color: blueviolet;
                margin: auto;
                width: 150px;
                height: 70px;
                padding: 10px;
            }
            #search{
                border-style: dotted ;
                border-width: 2px;
                padding: 5px;
                margin: 0;
                display: flex;
                flex-direction: row-reverse;
            }
            #canvas_section{
                display: block;
            }
 
            #canvas {
                margin: 10px;
                padding: 10px;
                background: cornsilk;
                border: thin inset #aaaaaa;
                
            }
